PORT=5000
MONGO_URI=mongodb+srv://devarakondamaheshbabu237_db_user:<db_password>@projectjobmanagement.9g7rbp4.mongodb.net/?appName=projectjobmanagement
JWT_SECRET=jObOpS_sEcUre_982347kjnfsd9f8y23jhkjwfs9df_t0k3n_k3y!
JWT_EXPIRES_IN=7d
NODE_ENV=development
